/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #369945bb, #c4c77ccf);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Auth Container Styles */
.auth-container {
    background-color: #ffffffba;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.auth-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.auth-container input:focus {
    border-color: #4caf50;
    outline: none;
}

.auth-container button {
    padding: 10px;
    background-color: #559956;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.auth-container button:hover {
    background-color: #45a049;
}

.auth-container p {
    margin-top: 15px;
    color: #666;
}

.auth-container a {
    color: #007bff;
    text-decoration: none;
}

.auth-container a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {
    .auth-container {
        width: 100%;
        padding: 15px;
    }

    .auth-container input,
    .auth-container button {
        width: 100%;
        margin-bottom: 10px;
    }
}
